@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #ffb8c1;
}
::-webkit-scrollbar
{
    background-color: #111;
    width: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color: #fc5a6d;
    border-radius: 20px;
    border: 5px solid #000;
}
/* Header Section Start  */
header
{
    position: relative;
    width: 100%;
    height: 15vh;
    padding: 0px 250px;
    background: url("../images/header_bg.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
header .logo
{
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 50%;
}
header .searchBar
{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}
header .searchBar .searchbox
{
    display: flex;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 8px 5px;
    height: 5vh;
}
header .searchBar .searchbox input
{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
}
header .searchBar .searchbox input::placeholder
{
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
}
header .searchBar .searchbox button
{
    width: 50px;
    height: 100%;
    background-color: #fc5a6d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
}
/* Header Section End  */

/* Navigation Section Start  */
nav
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #fc5a6d;
}
nav ul
{
    display: flex;
    height: 100%;
}
nav ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-left: 80px;
    height: 100%;    
    transition-duration: 0.3s;
}
nav ul li:hover
{
    background-color: #fff;
}
nav ul li:hover a
{
    color: #fc5a6d;
}
nav ul li a 
{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Style Script', cursive;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: #fff;
    transition-duration: 0.5s;
}
/* Navigation Section End  */

/* Banner Section Start  */
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/contact1_bg.jpg");
    background-size: cover;
    background-position: center;
}
.banner::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .bannerContent
{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    /* border: 1px solid #fff; */
    z-index: 1000;
    padding: 10px;
    text-align: center;
}
.banner .bannerContent img
{
    width: 200px;
}
.banner .bannerContent h2
{
    font-family: 'Style Script', cursive;
    color: #fc5a6d;
    font-size: 2.2em;
    letter-spacing: 3px;
    font-weight: 200;
}
.banner .bannerContent h1
{
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: 400;
    text-shadow: 0 0 20px #000;
}
.banner .bannerContent .searchBar .searchbox
{
    display: flex;
    width: 100%;
    background-color: rgb(49, 49, 49);
    border-radius: 2px;
    padding: 8px 5px;
    height: 6vh;
}
.banner .bannerContent .searchBar .searchbox input
{
    width: 93%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
}
.banner .bannerContent .searchBar .searchbox input::placeholder
{
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
}
.banner .bannerContent .searchBar .searchbox button
{
    width: 50px;
    height: 100%;
    /* background-color: #fc5a6d; */
    color: #ff3b52;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
}
.banner .bannerContent p
{
    color: #fff;
    margin-top: 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
}
.banner .bannerContent .bannerBtn
{
    padding: 8px 30px;
    margin-top: 30px;
    background-color: #ff4e62;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    border: none;
    transition-duration: 0.4s;
}
.banner .bannerContent .bannerBtn:hover
{
    background-color: #ff3b52;
    color: #fff;
}
/* Banner Section End   */

/* FAQ Section Start  */
.faqSection
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    background: url("../images/arrival_bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqSection::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.faqSection .title
{
    position: absolute;
    top: 60px;
    /* left: 50%; */
    width: 100%;
}
.faqSection .title h2
{
    font-family: 'Style Script', cursive;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 4em;
    text-align: center;
    color: #fff;
}
.faqSection .title h2 span
{
    font-family: 'Style Script', cursive;
    color: #fc5a6d;
    font-size: 1em;
    font-weight: 800;
}
.faqSection .content
{
    width: 50%;
    z-index: 1000;
}
.accordion .accordion-item
{
  margin-bottom: 10px;
}
.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #111;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #999;
    transition-duration: 0.3s;
    background-color: #111;
    color: #fff;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #ff5353;
  }
  .accordion a.active {
    color: #ff5353;
    border-bottom: 1px solid #ff5353;
  }
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  
  .accordion .content {
    width: 100%;
    opacity: 0;
    padding: 0 1rem;
    max-height: 100px;
    /* border-bottom: 1px solid #e5e5e5; */
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    z-index: 1000;
  }
  .accordion .content p {
    font-size: 1rem;
    /* font-weight: 100%; */
    color: #fff;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    /* max-height: 100%; */
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    width: 100%;
  }
  
/* FAQ Section End  */